* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #1F2937;
}

/*Top header*/
#header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 70px;
}
#header-top div {
    color: white;
    
}
#header-top ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}
#header-top ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration-line: underline;
}
/*lower header*/

#header-bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px; 
    margin-bottom: 60px;
}

#header-bottom h1{
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}
#header-bottom p{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}
#header-bottom img {
    flex: 1;
    height: auto;
    width: 400px;
    margin-bottom: 60px;
    border-radius: 10px;
}
#header-bottom button {
background-color: #3882F6;
color: white;
padding: 9px;
border-radius: 10%;
}

/*Articles*/

.container {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
}
h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.articles {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}
.article {
    flex: 1;
    border: 1px solid #1F2937;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.article a {
    text-decoration: none;
}
.article p {
    margin: auto;
    width: 200px;
    color: black;
}
.article p:first-child{
    font-size: 25px;
    color: #1F2937;
}

.article img {
    margin-top: 5px;
}

/*container 2*/

.container2{
    background-color: #E5E7EB;
    text-align: center;
    height: 400px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

#phrase{
    flex: auto;
    margin-left: 200px;
    margin-right: 200px;
}

#phrase p {
    font-size: 50px;
    font-style: italic;  
}
#phrase #author {
    font-size: 38px;
    font-weight: 900;
    margin-top: 20px;
    text-align: end;
}

/*footer*/

footer{
    margin: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    background-color: #3b82f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer > div{
    color: white;
    font-size: 20px;
}
button {
    color: white;
    font-size: 20px;
    width: 100px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}
button:hover,
#header-bottom button:hover {
    background-color: white;
    color: black;
}